@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

.right_0 {
    right: 0 !important;
}

@font-face {
    font-family: "parabolica-bold";
    src: url(./assets/font/parabolica-test/ParabolicaTest-Bold-BF643e085ad372a.otf);
}

@font-face {
    font-family: "parabolica-medium";
    src: url(./assets/font/parabolica-test/ParabolicaTest-Medium-BF643e085ae3392.otf);
}